Review by Robert Wilton

Re: section1, Introduction:

                           Such mechanisms include network provisioning
   protocols like DHCP [RFC2132] [RFC8415] and IPv6 Router Advertisement
   (RA) options [RFC8106], as well as manual configuration.

Do you know if there is any work being done in the IETF to add more options to
DHCP, RA, or manual configuration to allow more complex DHCP server information
to be provisioned/setup? Since longer term that would seem to be an
easier/safer solution than needing to use SVCB records to move from unencrypted
to encrypted comms.

2) I also had a question regarding section 5:

                          In the following example, the SVCB answers
   indicate that resolver.example.com supports both DoH and DoT, and
   that the DoH server indicates a higher priority than the DoT server.

   _dns.resolver.example.com.  7200  IN SVCB 1 resolver.example.com. (
        alpn=h2 dohpath=/dns-query{?dns} )
   _dns.resolver.example.com.  7200  IN SVCB 1 resolver.example.com. (
        alpn=dot )

Is there a bug in the example (e.g., second entry should be 2 rather than 1)? 
Or otherwise it wasn't obvious to me why DoH had higher priority.